html,
body {
  margin: 0;
}

#header {
  background: #d8d8d8;
  height: 15vh;
  padding: 10px;
  box-sizing: border-box;
}

#header-brand {
  background: #4a90e2;
  height: 90px;
  width: 90px;
  margin-left: 20px;
}

#text-row {
  padding: 10px;
  font-size: 120%;
  height: 25vh;
  width: 70vw;
  margin: auto;
  line-height: 25vh;
}

.row {
  height: 15vh;
  box-sizing: border-box;
}

.row-text {
  margin: auto;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

#blue-row {
  background: #4a90e2;
}

#cyan-row {
  background: #50e3c2;
}

#green-row {
  background: #b8e986;
}

#yellow-row {
  background: #f8e71c;
}
