html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#header {
    height: 20%;
    background-color: grey;
}

#left-section {
    background: lightgray;
    height: 80%;
    width: 15%;
    float: left;
}

#right-section {
    background: lightgray;
    height: 80%;
    width: 15%;
    float: right;
}

#center-section {
    background: white;
    height: 70%;
}

#footer {
    background: black;
    height: 10%;
}